*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 90vh;
}

.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.query{
    height: 150px;
    width: 200px;
    background-color: rgb(255, 2, 2);
    border-radius: 9px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.btnMoving{
    height: 40px;
    width: 60px;
    font-size: 15px;
    border: 0;
}

#btnMovingYes{
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;

}

#btnMovingYes:hover{
    background-color: rgb(43, 255, 0);
    color: #000000;
}

#btnMovingNo{
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s ease;
    margin-left: 10px;
}

#btnMovingNo:hover{
    background-color: red;
    color: #fff;
}

